@model IEnumerable<Assenment.Data.PujaBook>

@{
    ViewData["Title"] = "GetBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetBooks</h1>

<p>
    <a asp-action="AddBook">Create New Book</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
               <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
               <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                 <a asp-action="DownloadDocument"
               asp-route-id="@item.Id">
               Download File
            </a>
            </td>
            <td>
                <a asp-action="UpdateBook" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="BookDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="DeleteBook" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
