@model IEnumerable<Assenment.Data.PujaBook>

@{
    ViewData["Title"] = "GetBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetBooks</h1>

@*<p>
    <a asp-action="AddBook">Create New Book</a>
</p>*@
@*<button type="button" class="btn btn-primary" data-toggle="ajax-moel" data-target="#addbook" data-url="@Url.Action("AddBook")" >Create</button>
*@<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="OpenAddPopup();">Add New Book</button><br /><br />
@*<table class="table table-bordered table-hover">*@
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            
        </tr>
    </thead>
    <tbody>


    </tbody>
</table>
<div class="modal fade" id="AddUpdateModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="AddUpdateModelLabel">Add Book</h4>
            </div>
            <div class="modal-body">
                <form>
                    @* hidden filed for storing Id *@
                    <input type="hidden" id="hfpatientId" />
                    <div class="form-group">
                       <label for="txtPatientName">BookName</label>
                        <input type="text" class="form-control" id="txtPatientName" placeholder="BookName" />
                    </div>
                    <div class="form-group">
                        <label for="txtPatientNumber">Author</label>
                        <input type="text" class="form-control" id="txtPatientNumber" placeholder="Author" />
                    </div>
                    <div class="form-group">
                        <label for="txtPatientEmail">Genre</label>
                        <input type="email" class="form-control" id="txtPatientEmail" placeholder="Genre" />
                    </div>
                    <div class="form-group">
                        <label for="txtAddress">ReleaseDate</label>
                        <input type="text" class="form-control" id="txtAddress" placeholder="ReleaseDate" />
                    </div>
                    <div class="form-group">
                        <label for="txtBloodGroup">Price</label>
                        <input type="text" class="form-control" id="txtBloodGroup" placeholder="Price" />
                    </div>
                     <div class="form-group">
                        <label for="txtBloodGroup">Discount</label>
                        <input type="text" class="form-control" id="txtDiscount" placeholder="Discount" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAddpatient" onclick="return AddBook();">Create Book</button>
                <button type="button" class="btn btn-primary" id="btnUpdatepatient" style="display:none;" onclick="UpdatePatient();">Update Book</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>


<script type="text/javascript">
    //Load Data in Table when documents is ready
    $(document).ready(function () {
        BindpatientData();
    });

    //Bind Data function which is responoisble for loading all data from database
    function BindpatientData() {
        $.ajax({
            url: "/Books/GetBookList",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result) {
                    //itetrate thorugh each record and bind it to td
                    console.log(result);
                    var html = '';
                    $.each(result, function (key, item) {
                        html += '<tr>';
                        html += '<td>' + item.id + '</td>';
                        html += '<td>' + item.bookName + '</td>';
                        html += '<td>' + item.author + '</td>';
                        html += '<td>' + item.genre + '</td>';
                        html += '<td>' + item.releaseDate + '</td>';
                        html += '<td>' + item.price + '</td>';
                         html += '<td>' + item.discount + '</td>';
                        html += '<td><a href="#" onclick="return OpenEditPopup(' + item.id + ')">Edit</a> | <a href="#" onclick="DelelePatient(' + item.id + ')">Delete</a></td>';
                        html += '</tr>';
                    });
                    $('tbody').html(html);
                }

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //************Adding Record in the database***********


    function OpenAddPopup() {
        //title text
        $("#AddUpdateModelLabel").text("Add Book")
        //clear all input
        ClearAllInput();
        //open popup
        $('#AddUpdateModel').modal('show');
        //show add patient button and hide update button

        $('#btnUpdatepatient').hide();
        $('#btnAddpatient').show();
    }

    //Add Data Function
    function AddBook() {
        var res = ValidateUserInput();
        if (res == false) {
            return false;
        }
        var patientObj = {
            id: $('#hfpatientId').val(),
            BookName: $('#txtPatientName').val(),
            Author: $('#txtPatientNumber').val(),
            Genre: $('#txtPatientEmail').val(),
            ReleaseDate: $('#txtAddress').val(),
            Price: $('#txtBloodGroup').val(),
            Discount: $('#txtDiscount').val()
        };
        $.ajax({
            url: "/Books/AddBook",
            data: patientObj,
            type: "POST",
            //contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (patientObj) {
                //populate table with new record
               
                //claer all input and hide model popup
                ClearAllInput();
                $('#AddUpdateModel').modal('hide');

                BindpatientData();
                
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
      
    }



    function OpenEditPopup(id) {
        $("#AddUpdateModelLabel").text("Update Book Detail")
        ClearAllInput();
        $.ajax({
            url: "/Books/GetbookbyID?id=" + id,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                debugger;
                $("#AddUpdateModelLabel").val("Update Patient Detail")
                $('#hfpatientId').val(result.id);
                $('#txtPatientName').val(result.bookName);
                $('#txtPatientNumber').val(result.author);
                $('#txtPatientEmail').val(result.genre);
                $('#txtAddress').val(result.releaseDate);
                $('#txtBloodGroup').val(result.price);
                 $('#txtDiscount').val(result.discount);
                   
                $('#AddUpdateModel').modal('show');
             
                $('#btnUpdatepatient').show();
               
                $('#btnAddpatient').hide();
               
            },
            
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
            
        });
          
        return false;
        
    }

    //function for updating Patient record
    function UpdatePatient() {
        var res = ValidateUserInput();
        console.log(res);
        if (res == false) {
            return false;
        }
        var patientObj = {
            id: $('#hfpatientId').val(),
            bookName: $('#txtPatientName').val(),
            author: $('#txtPatientNumber').val(),
            genre: $('#txtPatientEmail').val(),
            releaseDate: $('#txtAddress').val(),
            price: $('#txtBloodGroup').val(),
             discount: $('#txtDiscount').val(),
        };
        if (!patientObj.id || patientObj.id<= 0) {
            alert("Invalid Id!");
            return false;
        }
        $.ajax({
            url: "/Books/UpdateBooks",
            data: patientObj,
            type: "POST",
            //contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                BindpatientData();
                ClearAllInput();
                
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }


    //function for deleting employee's record
    function DelelePatient(id) {
        var ans = confirm("Are you sure you want to delete?");
        if (ans) {
            $.ajax({
                url: "/Books/DeleteBooks?id=" + id,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    BindpatientData();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }

    function ClearAllInput() {
        $('#AddUpdateModel').modal('hide');
        $('#hfpatientId').val("");
        $('#txtPatientName').val("");
        $('#txtPatientNumber').val("");
        $('#txtPatientEmail').val("");
        $('#txtAddress').val("");
        $('#txtBloodGroup').val("");

        $('#txtPatientName').css('border-color', 'lightgrey');
        $('#txtPatientNumber').css('border-color', 'lightgrey');
        $('#txtPatientEmail').css('border-color', 'lightgrey');
        $('#txtAddress').css('border-color', 'lightgrey');
        $('#txtBloodGroup').css('border-color', 'lightgrey');
    }
    function ValidateUserInput() {
        var isValid = true;
        if ($('#txtPatientName').val().trim() == "") {
            $('#txtPatientName').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#txtPatientName').css('border-color', 'lightgrey');
        }
        if ($('#txtPatientNumber').val().trim() == "") {
            $('#txtPatientNumber').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#txtPatientNumber').css('border-color', 'lightgrey');
        }
        if ($('#txtPatientEmail').val().trim() == "") {
            $('#txtPatientEmail').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#txtPatientEmail').css('border-color', 'lightgrey');
        }
        if ($('#txtAddress').val().trim() == "") {
            $('#txtAddress').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#txtAddress').css('border-color', 'lightgrey');
        }

        if ($('#txtBloodGroup').val().trim() == "") {
            $('#txtBloodGroup').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#txtBloodGroup').css('border-color', 'lightgrey');
        }
        return isValid;
    }
</script>
